<% provide(:webpageTitle, "Forget Password") %>

<% provide :webpageMetaTag do %>
  <meta name="keywords" content="PigRider User Forget Password" />
  <meta name="description" content="PigRider User Forget Password" />
<% end %>


<%= link_to "Back to Sign In", pigrider_user.signInUser_path %><br /><br /><br />

<h2>Change Your Password Please</h2>

<div>
  <%= form_for(:forgetPassword, :url=>pigrider_user.updateFogottenPassword_path) do |f| %>
    Username: <%= f.text_field :username, :value=>@dUser.username %><br />
    <br />

    <p style="color:red">Please answer below two questions for changing password:</p>
    <%= f.label :questionOne, "What's the most popular nickname for our cofounder Ming?" %>
    <%= f.password_field :questionOne %><br />
    <%= f.label :questionTwo, "What's the invitation code for PigRider employees to register in this website?" %>
    <%= f.password_field :questionTwo %><br /><br />
    
    New Password: <%= f.password_field :password %><br />
    Password Confirmation: <%= f.password_field :password_confirmation %><br />
    <%= f.submit "Change Password" %><br />
  <% end %>
</div>


<br /><br /><br />
<div>
  <% if @dUser.errors.any? %>    
    <div class="ErrorReportContainer">
      <ul>
      <% @dUser.errors.each do |attr,msg| %>
        <% if msg=="doesn't match confirmation" %>
          <li>Password doesn't match confirmation</li>
        <% else %>
          <li><%= msg %></li>
        <% end %>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>

